@import "tailwindcss";

/* Pastikan background selalu putih/terang agar terlihat profesional */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Kita hapus bagian @media (prefers-color-scheme: dark) agar tidak otomatis hitam */

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* Tambahkan smooth scrolling */
  scroll-behavior: smooth;
}